body{
    background: linear-gradient(100deg, red, white, blue); 
    z-index: -1;
}
.div{
    position: absolute;
    left: 30%;
    width: 40%;
    height: 400px;
    background-color: white;
    text-align: center;
    border: 2px solid;
    border-radius: 15px;
}
.ul{
    list-style-type: none;
    font-size: 30px;
    line-height: 50px;
    text-align: center;    
}
h1{
    color: red;
}